@{
    Layout = "";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HumanResource.Controllers
@using HumanResource.Resources
@using HumanResource.Utils
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<HomeController> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online İK</title>
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/images/logo.svg">
                            </div>
                            @*<h4>Hello! let's get started</h4>
                                <h6 class="font-weight-light">Sign in to continue.</h6>*@
                            <form class="pt-3" asp-action="Login" asp-controller="Home" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="EmployeeUsername" id="EmployeeUsername" placeholder=@Localizer["KullanıcıAdı"]>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" name="EmployeePassword" id="EmployeePassword" placeholder=@Localizer["Şifre"]>
                                </div>
                                <div class="mt-3">
                                    <input type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" id="btnlogin" name="btnlogin" value="@Localizer["GirişYap"]" />
                                    @*<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">@Localizer["GirişYap"]</a>*@
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" value="true" class="form-check-input" id="IsChecked" name="IsChecked">
                                            @Localizer["OturumumuAçıktut"]
                                        </label>
                                        <input name="IsChecked" type="hidden" value="false">
                                    </div>
                                    <a href="#" class="auth-link text-black">
                                        @Localizer["Şifrenimiunuttun"]?
                                    </a>
                                </div>
                                @*<div class="mb-2">
                                        <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                                            <i class="mdi mdi-facebook mr-2"></i>Connect using facebook
                                        </button>
                                    </div>*@




                                @if (!string.IsNullOrEmpty(ViewBag.Login))
                                {
                                    <div class="text-center mt-4 font-weight-light">
                                        @Html.Label("Error", ViewBag.Login, new { @class = "help-block text-danger", style = "font-size:14px" })
                                    </div>
                                }



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
</body>
</html>
